*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.upper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1f2937;
    color: white;
    padding: 15px;
    padding-left: 200px;
}


.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}

#title{
    font-size: 24px;
}

ul{
    display: flex;
    list-style: none;
    gap: 18px;
    
}

.header > ul > li > a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.upper-text{
    padding-top: 70px;
}

.main-text{
    font-size: 48px;
}

.sec-text{
    font-size: 18px;
    margin-top: 80px;
}

#almeida{
    padding: 15px;
    margin-top: 30px;
}

.button{
    background-color: #3882f6;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  /* display: inline-block; */
  font-size: 18px;
  margin: 24px 0;
  cursor: pointer;
}

.button:hover {
    background-color: #2992f6; 
    color:black;
  }

  ul> li > a:hover {
    color: hotpink;
  }
  
  ul > li > a:visited {
    text-decoration: none;
  }

.middle-part{
    padding-bottom: 100px;
}

.mycenter{
    padding-top: 100px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 25px;
}

.mypictures{
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    
}


.pictures > img{
    display: block;
    width: 300px;
    height: 300px;
}

.mypictures > .pictures{
    text-align: center;
    background-color: aquamarine;
    color: green;
    height: 300px;
    width: 300px;
}

.portraits{
    object-fit: contain;
}
